.idea/historical-price-updater.iml
src/historical_price_updater/price_updater.py
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/settings.json
.idea/.gitignore
.env
env.yaml
env/__pycache__/__init__.cpython-39.pyc
env/__pycache__/env.cpython-39.pyc
env/__pycache__/env_auto.cpython-39.pyc
src/historical_price_updater/__pycache__/__init__.cpython-39.pyc
src/historical_price_updater/__pycache__/extract.cpython-39.pyc
src/historical_price_updater/__pycache__/mytypes.cpython-39.pyc
src/historical_price_updater/__pycache__/price_updater.cpython-39.pyc
src/historical_price_updater/__pycache__/utils.cpython-39.pyc
tests/__pycache__/__init__.cpython-39.pyc
tests/__pycache__/test_extract.cpython-39-pytest-7.3.1.pyc
tests/__pycache__/test_historical_price_updater.cpython-39-pytest-7.3.1.pyc
tests/__pycache__/test_price_updater.cpython-39-pytest-7.3.1.pyc
watchlist.xlsx
~$watchlist.xlsx
venv/
__pycache__